<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thijs Hofkes - That's me</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
</html>

<body>
  <div class="content">
    <div class="heading">
      <img class="pf" src="assets/img/pf_thijs.jpeg" alt="Profile picture">
      <div class="divider"></div>
      <div class="header">
        <h1 class="animated" style="margin-left: -10px;">Thijs</h1>
        <h1 class="animated bold">Hofkes</h1>
      </div>
    </div>
  </div>
</body>